<ion-modal-view>
	<ion-header-bar class="bar-calm">
		<h1 class="title">Add New</h1>
		<button class="button button-icon ion-close" ng-click="modal.hide()"></button>
	</ion-header-bar>

	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Novo item"
					ng-model="newname">
			</label>
			
			<button class="button button-full button-balanced"
				ng-click="addItem(newname)">
					Adicionar
			</button>
		</div>
	</ion-content>
</ion-modal-view>